<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image" />
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div style="background-color: green">
              <strong>{{ saleInfo }}</strong>
            </div>
            <div
              class="color-circle"
              v-for="variant, index in variants"
              :key="variant.id"
              @mouseover="updateVariant(index)"
              :style="{ backgroundColor: variant.color }"
            ></div>
            <!-- Proviamo a cambiare il metodo updateImage(variant.image) del @mouseover utilizzando una computed property.
                Prima creo un nuovo metodo che permetta di aggiornare il valore della  variabile della variant selezionata in base all'indice dell''elemento su cui piazzo il mouse'
            -->
            <button
              class="button"
              :class="{ disabledButton: !inStock }"
              :disabled="!inStock"
              v-on:click="addToCart"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
